# Entornos y secretos
.env

# Python
__pycache__/
*.pyc
*.pyo
backend/staticfiles/
backend/media/
backend/*.sqlite3

# Node / frontend
frontend/node_modules/
frontend/dist/

# Editor
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db